<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me</title>
    <style>
        body {
            text-align: center;
            font-family: "Times New Roman";
            font-size: large;
        }

        .container {
            color: rgb(163, 121, 66);
            border: 2px solid #aeacac;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 1px;
            margin: 10px 0;
        }

        .contain {
            border: 2px solid #aeacac;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 1px;
            margin: 10px 0;
        }
    </style>
</head>

<body>
    <%- include('includes/nav.ejs') %>
        <div class="me container">
            <div class="contain">
                <h1>User details</h1>
            </div>
            <div class="contain">
                <h1>
                    Email : <%= data.email %>
                </h1>
            </div>

            <div class="contain">
                <h1>
                    User Name : <%= data.userName %>
                </h1>
            </div>
        </div>
       

</body>

</html>